{% extends 'base.html' %}
{% block title %}Transaction List{% endblock %}
{% block content %}
<h1>Transaction List</h1>
<a href="{% url 'add_transaction' %}" class="btn btn-primary mb-3">Add Transaction</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Transaction Type</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ transaction.product.name }}</td>
            <td>{{ transaction.get_transaction_type_display }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
